li{
    list-style: none;
}
body {
    margin: 0;
    text-align: center;
    background-image: url("../images/bg.jpg");
}
header{
    margin-bottom: -50px;
    height: 60px;
    background-color: #5dbf46;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
nav{
    height: 100%;
    width: 505px;
    margin: 0 auto;
    display: -moz-box;
    display: -webkit-box;
    display: box;

}
nav span{
    padding: 0 8px;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
nav h2{
    width: 200px;
    height: 60px;
    -moz-box-flex:2;
    -webkit-box-flex: 2;
    box-flex: 2;
}
nav #imgs{
    width: 60px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: relative;
}
#imgs img{
    position: absolute;
    top: 0;
    left: 0;
}
#three button{
    float: right;
    width: 65px;
    height: 60px;
    background: black;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
}
#three p{
     display: block;
    -webkit-margin-before: 1px;
    -webkit-margin-after: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#three .line{
    margin: 6px;
    border-bottom: 3px solid #fff;
}
#one{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
#three{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
#selected{
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 94px;
    /*width: 303px;*/
    background: rgba(0,0,0,0.5);
}
#selected ul li{
    float: left;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 2px;
}
/*
.mobile{
    position: absolute;
    bottom: 500px;
}
.btn-mobile{
    position: relative;
    bottom: 20px;
    left: 350px;
    height: 50px;
    width: 50px;
    background: gray;
}
.btn-mobile button{
    position:relative;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}
.btn1{
    top: -60px;
}
.btn2{
    bottom: -10px;
}
.btn3{
    top: -100px;
    left: 60px;
}
.btn4{
    top: -150px;
    right: 60px;
}*/
